<body>
  <section style='border: 5px solid #2B9EB3; padding: 20px'>
    <form>
      <label>
        Query
        <input name='query' type='text' value='{{query}}' />
      </label>
      <button type='submit'>Search</button>
    </form>
  </section>
</body>